/* Color Pallet

Dark accent: #462C2F
Bright accent: #E16C5B
Accent: #713C46
Background: #EEEEEE
Font: #262626 */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Headers;
    src: url(BebasNeue-Bold.ttf);
}

@font-face {
    font-family: MainFont;
    src: url(Roboto-Regular.ttf);
}

body {
    font-family: MainFont;
    background-color: #EEEEEE;
    color: #262626;
    margin: 0;
}

h1 {
    font-family: Headers;
    color: #E16C5B;
    font-size: 3em;
}

h2 {
    font-family: Headers;
    color: #E16C5B;
    font-size: 2.5em;
}

h3 {
    font-family: Headers;
    color: #E16C5B;
    font-size: 2em;
}

h4 {
    font-family: Headers;
    color: #E16C5B;
    font-size: 1.5em;
}

h5 {
    font-family: Headers;
    color: #E16C5B;
    font-size: 1.5em;
}

.top-nav {
    font-family: Headers;
    background-color: #262626;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    position: relative; 
}

.logo {
    position: absolute;
    left: 60px; 
}

.logo img {
    height: 80px; 
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: 0;
}

.nav-link {
    color: #E16C5B;
    text-decoration: none;
    font-size: 1.5em;
}

.nav-link:hover {
    color: #713C46;
}

.nav-link.active {
    color: #713C46; 
    font-weight: bold; 
}

footer {
    font-family: Headers;
    background-color: #262626;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 0;
}

footer .nav-link {
    color: #E16C5B;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
}

footer .nav-link:hover {
    color: #713C46;
}


.book-of-month {
    background-color: #462C2F; 
    display: flex;
    padding: 40px;
    color: #EEEEEE; 
    margin: 60px;
    border-radius: 20px;
    align-items: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-of-month .image {
    flex: 0 0 20%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.book-of-month img {
    width: 100%; 
}

.book-of-month .text {
    flex: 1; 
    text-align: left;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-of-month .text h2 {
    color: #EEEEEE;
}

.main-image {
    background-image: url("Heading.png");
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 40px 0; 
}

.main {
    color: #FFFFFF; 
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.group, .single-group {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #FFFFFF; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.single-group {
    background-color: #462C2F; 
    color: #EEEEEE; 
}

.single-group #single-book-display {
    text-align: center; /* Center align text */
}

.group h2, .single-group h2 {
    margin-bottom: 10px; 
}

.group p, .single-group p {
    margin-bottom: 20px; 
}

.single-group h3 {
    color: #FFFFFF; 
}

.single-group h4 {
    color: #E16C5B; /* Color for author and rating */
}

.button {
    font-family: 'SourceSansProBold', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #713C46;
    text-decoration: none;
    border-radius: 5px;
    transition: #462C2F 0.3s ease;
    font-weight: bold;
}

.button:hover {
    background-color: #462C2F;
}

.button-second {
    font-family: 'SourceSansProBold', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #E16C5B;
    text-decoration: none;
    border-radius: 5px;
    transition: #713C46 0.3s ease;
    font-weight: bold;
}

.button-second:hover {
    background-color: #713C46;
}

.button-single {
    font-family: 'SourceSansProBold', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #462C2F;
    background-color: #EEEEEE;
    text-decoration: none;
    border-radius: 5px;
    transition: #E16C5B 0.3s ease;
    font-weight: bold;
}

.button-single:hover {
    background-color: #E16C5B;
}

.book-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}


.book-button {
    font-family: 'SourceSansProBold', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #713C46;
    text-decoration: none;
    border-radius: 5px;
    transition: #462C2F 0.3s ease;
    font-weight: bold;
}

.book-button:hover {
    background-color: #462C2F;
}


.book-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.book-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 20px 0;
}

.book-table th, .book-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.book-table th {
    background-color: #713C46;
    color: #EEEEEE;
}

.book-table tr:nth-child(even) {
    background-color: #e6e6e6;
}

.book-table tr:hover {
    background-color: #ddd;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}


.search input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.search-button, .clear-button {
    font-family: 'SourceSansProBold', sans-serif;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #713C46;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.search-button:hover, .clear-button:hover {
    background-color: #462C2F;
}

#searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
}

#searchResults h3 {
    margin: 5px 0;
    color: #EEEEEE;
}

#searchResults h4 {
    margin: 5px 0;
    color: #E16C5B;
}

.book-card {
    background-color: #462C2F;
    color: #EEEEEE;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px); 
    max-width: calc(33.333% - 40px); 
    box-sizing: border-box;
}

form input[type="text"], form input[type="number"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 10px;
}

form button[type="submit"] {
    font-family: 'SourceSansProBold', sans-serif;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #713C46;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

form button[type="submit"]:hover {
    background-color: #462C2F;
}
