/* Color Pallet

Dark accent: #462C2F
Bright accent: #E16C5B
Accent: #713C46
Background: #EEEEEE
Font: #262626 */

@font-face {
    font-family: Headers;
    src: url(BebasNeue-Bold.ttf);
}

@font-face {
    font-family: MainFont;
    src: url(Roboto-Regular.ttf);
}

.body {
    font-family: MainFont;
    background-color: #EEEEEE;
    color: #262626;
}

.h1, h2, h3, h4, h5 {
    font-family: Headers;
    color: #E16C5B;
}



.top-nav {
    font-family: Headers;
    background-color: #262626;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-link {
    color: #E16C5B;
    text-decoration: none;
    font-size: 1.5em;
}

.nav-link:hover {
    color: #713C46;
}

.book-of-month {
    background-color: #462C2F; 
    display: flex;
    padding: 20px;
    color: #EEEEEE; 
    margin: 20px;
}

.book-of-month img {
    margin-right: 20px;
    width: 200px; 
}

.book-of-month .text {
    flex: 1; 
}

.book-of-month .image {
    flex: 0 0 20%; 
}

.book-of-month img {
    width: 100%; 
}

.book-of-month .text {
    flex: 0 0 60%; 
    text-align: center; 
    padding: 20px;
    margin: 20px; 
}